body{
  margin:0;
  font-family: 'Abril Fatface', cursive;
}
.container {
  max-width: 1100px;
  margin: 3rem auto;
  padding: 24px;
}

.is-family-primary {
  font-family: 'Mukta Malar', sans-serif;
}
.is-font-style {
  font-style: italic;
}

.section {
  background-image: url("/images/hero_1.jpg");
  background-size: cover;
  background-position: center center;
}
.flex-container {
    background: rgba(0, 0, 0, 0.2);
    padding: 15rem 1.5rem;
}
.has-margin-top {
  margin-top: 0px;
}
.has-margin-bottem {
  margin-bottom: 0px;
}



.heading-size {
  font-size: 80px;
  font-weight: 500;
}


.heading-color {
  color: #fff;
}
.font-color-black {
  color: black;
}
.font-color1 {
  color: #2a2a2a; ;
}
.font-size-vlarge {
  font-size: 45px;
}

.font-size-large {
  font-size: 32px;
}
.font-size-big {
  font-size: 28px;
}
.font-size-medium {
  font-size: 20px;
}
.font-size-short {
  font-size: 18px;
}

.font-weight-large {
  font-weight:500;
}
.font-weight-large1 {
  font-weight:700;
}
.font-weight-medium {
  font-weight: 300 !important;
}
.font-weight-short {
  font-weight:200;
}

.background-color-white {
  background: #fff;
}
.has-backgound-black {
  background: #000;
}
.has-backgound-light-green {
  background-color:#65c0ba;
}
.has-backgound-white-ter {
  background-color: #fafafa;
}
.has-backgound-trnsparent {
  background: Transparent;
}
.has-text-white {
  color: #fff;
}
.has-text-gray {
  color: #ced4da;
  }

.margin {
  margin: 0px;
}
.card-image {
  margin-bottom: -4px !important
}
.margin-left {
  margin: 0px;
}

.line-height {
  line-height: 8;
}

button:hover {
  background-color: white;
  color:black
}
.textone:hover {
  color: rgba(255, 255, 255, 0.5);
}
.has-text-center {
  text-align: center;
}
.flex {
  display: flex;
}

.button {
  letter-spacing: .2rem;
    border-width: 4px;
    padding: 16px 30px;
    border-color: white;
    border-radius: 4px;
}
.pointer {
  cursor: pointer;
}
.is-fullwidth {
  width: 100%;
}
.width1 {
  width: 70px;
}
.margin {
  margin-left: 4rem;
    margin-top: 10rem;
}

.is-4 {
  width: 25%;
  font-size: large;
  }

  .is-3 {
    width: 32%;
  }
  .text-color {
    color: #6c757d;
  }
  .wrap {
    flex-wrap: wrap;
  }
  .flex-container {
    display: flex;
    flex-wrap: wrap;
  }
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }
  .has-justify-content-center {
    justify-content: center;
  }
.is-flex-50 {
  width: 50%;
}
.hero-section {
  padding :3rem 3rem;
}

.columns{
  display:inherit;
  align-items: center;
}
@media screen and (min-width: 769px){
  .columns {
    display: flex !important;
  }
}

.column {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 1.5rem;
}
.image-is-fullwidth {
  width:100%;
}
.is-padding {
  padding: 15px;
}
.is-padding-combine {
  padding: 2px 16px;
}
.images {
  width: 70px;
    border-radius: 50%;
}




