body{
  margin:0;
  font-family: 'Abril Fatface', cursive;

}
.is-family-primary {
  font-family: 'Mukta Malar', sans-serif;
}
.section {
  background-image: url("/images/hero_1.jpg");
  background-size: cover;
  background-position: center center;
}
.flex-container{
    background: rgba(0, 0, 0, 0.2);
    padding: 15rem 1.5rem;
}



.heading-size {
  font-size: 80px;
  font-weight: 700;
}


.heading-size {
  color: #fff;
}
.font-color-black {
  color: black;
}
.font-color1 {
  color: #2a2a2a; ;
}
.font-size-vlarge {
  font-size: 45px;
}

.font-size-large {
  font-size: 30px;
}
.font-size-big {
  font-size: 28px;
}
.font-size-medium {
  font-size: 20px;
}
.font-size-short {
  font-size: 18px;
}

.font-weight-large {
  font-weight:500;
}
.font-weight-medium {
  font-weight: 300 !important;
}
.font-weight-short {
  font-weight:200;
}

.background-color-white {
  background: #fff;
}
.has-backgound-black {
  background: #000;
}
.has-backgound-light-green {
  background-color:#65c0ba;
}
.has-backgound-white-ter {
  background-color: #fafafa;
}
.has-backgound-trnsparent {
  background: Transparent;
}
.has-text-white {
  color: #fff;
}
.margin {
  margin: 0px;
}
.margin-left {
  margin: 0px;
}

.line-height {
  line-height: 8;
}

.flex-container {


}
.has-text-center {
  text-align: center;
}